html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#app {
    margin: 0;
    padding: 0;
}

.vm--overlay {
    background: rgba($colorBlack, .8);
}

// .vm--modal {
//     height: auto !important;
// }

.mw-1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.mw-900 {
    max-width: 900px;
    margin: 0 auto;
}

.mw-500 {
    max-width: 500px;
    margin: 0 auto;
}

.my-dropdown-toggle {
    width: 300px;
}