$colorBlueLight: #E6F3F5;

$colorLight: #F9F9F9;
$colorDark: #0F0F0F;

$colorBlack: #000000;

$colorBlue1: #0072C3;
$colorBlue2: #008AE3;
$colorBlue3: #17A8FD;
$colorBlue4: #58C6FE;
$colorBlueText: #2D9CDB;

$colorPurple1: #262270;
$colorPurple2: #302C80;
$colorPurple3: #3F3B97;
$colorPurple4: #5755B3;