.app-content {
    position: relative;
    margin: 0;

    &__head {
        @extend %dffs;
        height: 60px;
        border-bottom: 2px solid $colorBlue3;
    }

    &__body {
        height: 100%;
    }

    &__page {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0 0;
    }

    &__col {
        width: 33.33%;
        padding: 0 15px;
    }

    &__title {
        text-align: center;
    }

    &__form {
        height: 100%;
    }

    &__form-row {
        padding: 10px 0;

        &--top_bordered {
            border-top: 1px dashed $colorBlue1;
        }

        .btn {
            max-width: 200px;
            margin: 0 auto;
        }
    }

    &__button {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}