.app-page {
    position: relative;
    min-height: 100vh;
    padding: 0 0 100px;
    background: linear-gradient(45.15deg, #5535FF 2%, #3DEFFF 98.25%);

    &__container {
        width: 1140px;
        margin: 0 auto;
    }

    &__header {
        @extend %dffe;
        padding: 50px 0;
    }

    &__links {
        display: flex;
    }

    &__link {
        font-family: 'Noto Sans';
        font-weight: 500;
        color: $colorLight;
        text-transform: uppercase;
        text-decoration: none;
        transition: text-shadow .3s ease-in-out;

        &:not(:first-child) {
            margin: 0 0 0 65px;
        }

        &:hover {
            text-shadow: 0 0 3px $colorLight;
        }
    }

    &__auth {
        margin: 0 0 0 40px;
    }

    &__auth-reg {
        position: relative;
    }

    &__main {
        position: relative;
    }

    &__banner {
        @extend %dfsb;
        padding: 60px 0 120px;
    }

    &__banner-col {
        width: 50%;
    }

    &__banner-content {
        padding: 0 50px 0 0;
        text-align: left;
    }

    &__banner-title {
        margin: 0 0 43px;

        h1 {
            font-family: 'Noto Sans';
            font-size: 36px;
            font-weight: 400;
            line-height: 49px;
            color: $colorLight;
        }
    }

    &__banner-text {
        max-width: 376px;
        margin: 0 0 64px;
        font-family: 'Noto Sans';
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        color: $colorLight;
    }

    &__banner-button {
        padding: 0 0 0 70px;
    }

    &__banner-image {
        text-align: right;
    }

    &__description {
        padding: 0 0 50px;
    }

    &__description-title {
        text-align: center;

        h2 {
            font-family: "Noto Sans";
            font-weight: 500;
            font-size: 32px;
            line-height: 44px;
            color: $colorLight;
        }
    }

    &__description-cards {
        @extend %dfsb;
        align-items: flex-start;
        padding: 50px 0;
    }

    &__card {
        max-width: 342px;
        font-family: "Noto Sans";
        letter-spacing: 0.02em;
        text-align: center;
        color: $colorBlack;
    }

    &__card-image {
        height: 300px;

        svg {
            width: 100%;
        }
    }

    &__card-title {
        margin: 0 0 14px;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
    }

    &__card-text {
        padding: 0 60px;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
    }

    &__contacts {
        padding: 50px 0;
    }

    &__contacts-title {
        margin: 0 0 100px;
        text-align: center;

        h2 {
            font-family: "Noto Sans";
            font-weight: 500;
            font-size: 32px;
            line-height: 44px;
            color: $colorLight;
        }
    }

    &__contacts-content {
        @extend %dfsa;
    }

    // &__contacts-item {

    // }

    &__contacts-link {
        font-family: "Noto Sans";
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: $colorLight;
        text-decoration: none;

        img {
            width: 120px;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        border-top: 1px solid rgba(blue, .3);
        box-shadow: 0 0 10px 5px rgba(#000, .3);
    }

    &__footer-container {
        @extend %dfc;
        width: 1140px;
        height: 100%;
        margin: 0 auto;
    }

    &__footer-logo {
        img {
            width: 100px;
        }
    }

    &__footer-year {
        font-family: 'Noto Sans';
        font-weight: 500;
        font-size: 20px;
        color: $colorLight;
    }
}