.auth-modal__image:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.app-page__footer-container {
    display: flex;
    align-items: center;
    justify-content: center
}

.app-page__header {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.app-cabinet__header,
.app-drawer__head,
.app-page__banner,
.app-page__description-cards {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.app-page__contacts-content,
.auth-modal__tabs {
    display: flex;
    align-items: center;
    justify-content: space-around
}

@font-face {
    font-family: Noto Sans;
    src: url('../assets/fonts/NotoSans/NotoSans-Regular.eot');
    src: url('../assets/fonts/NotoSans/NotoSans-Regulart.eot?#iefix') format("embedded-opentype"), url('../assets/fonts/NotoSans/NotoSans-Regulart.ttf') format("truetype"), url('../assets/fonts/NotoSans/NotoSans-Regulart.woff') format("woff"), url('../assets/fonts/NotoSans/NotoSans-Regulart.woff2') format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../assets/fonts/Raleway/Raleway-Regular.eot');
    src: url('../assets/fonts/Raleway/Raleway-Regular.eot?#iefix') format("embedded-opentype"), url('../assets/fonts/Raleway/Raleway-Regular.ttf') format("truetype"), url('../assets/fonts/Raleway/Raleway-Regular.woff') format("woff"), url('../assets/fonts/Raleway/Raleway-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

@-webkit-keyframes fadeStart {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeStart {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

body,
html {
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden
}

* {
    box-sizing: border-box
}

#app {
    margin: 0;
    padding: 0
}

.vm--overlay {
    background: rgba(0, 0, 0, .8)
}

.btn {
    padding: 14px 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer
}

.btn-primary {
    background: linear-gradient(45deg, #3fff7c, #3ffbe0);
    box-shadow: 3px 3px 5px rgba(29, 22, 22, .15);
    color: #2d9cdb;
    transition: color .3s ease-in-out
}

.btn-primary:hover {
    color: #302c80
}

.app-input {
    width: 100%;
    height: 31px;
    padding: 0 18px;
    font-family: Raleway-Regular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .03em;
    color: #0f0f0f;
    border: 1px solid #17a8fd;
    outline: none;
    border-radius: 10px
}

.app-input.is-error {
    border-color: #e23b3b
}

.app-input__label {
    display: block;
    padding: 0 0 10px 18px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .03em;
    color: #0f0f0f
}

.app-input__error {
    display: block;
    height: 18px;
    color: #e23b3b;
    padding: 0 0 0 18px
}

.app-page {
    position: relative;
    min-height: 100vh;
    padding: 0 0 100px;
    background: linear-gradient(45.15deg, #5535ff 2%, #3defff 98.25%)
}

.app-page__container {
    width: 1140px;
    margin: 0 auto
}

.app-page__header {
    padding: 50px 0
}

.app-page__links {
    display: flex
}

.app-page__link {
    font-family: Noto Sans;
    font-weight: 500;
    color: #f9f9f9;
    text-transform: uppercase;
    text-decoration: none;
    transition: text-shadow .3s ease-in-out
}

.app-page__link:not(:first-child) {
    margin: 0 0 0 65px
}

.app-page__link:hover {
    text-shadow: 0 0 3px #f9f9f9
}

.app-page__auth {
    margin: 0 0 0 40px
}

.app-page__auth-reg,
.app-page__main {
    position: relative
}

.app-page__banner {
    padding: 60px 0 120px
}

.app-page__banner-col {
    width: 50%
}

.app-page__banner-content {
    padding: 0 50px 0 0;
    text-align: left
}

.app-page__banner-title {
    margin: 0 0 43px
}

.app-page__banner-title h1 {
    font-size: 36px;
    line-height: 49px
}

.app-page__banner-text,
.app-page__banner-title h1 {
    font-family: Noto Sans;
    font-weight: 400;
    color: #f9f9f9
}

.app-page__banner-text {
    max-width: 376px;
    margin: 0 0 64px;
    font-size: 22px;
    line-height: 30px
}

.app-page__banner-button {
    padding: 0 0 0 70px
}

.app-page__banner-image {
    text-align: right
}

.app-page__description {
    padding: 0 0 50px
}

.app-page__description-title {
    text-align: center
}

.app-page__description-title h2 {
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #f9f9f9
}

.app-page__description-cards {
    align-items: flex-start;
    padding: 50px 0
}

.app-page__card {
    max-width: 342px;
    font-family: Noto Sans;
    letter-spacing: .02em;
    text-align: center;
    color: #000
}

.app-page__card-image {
    height: 300px
}

.app-page__card-image svg {
    width: 100%
}

.app-page__card-title {
    margin: 0 0 14px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px
}

.app-page__card-text {
    padding: 0 60px;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px
}

.app-page__contacts {
    padding: 50px 0
}

.app-page__contacts-title {
    margin: 0 0 100px;
    text-align: center
}

.app-page__contacts-title h2 {
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #f9f9f9
}

.app-page__contacts-link {
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: .02em;
    color: #f9f9f9;
    text-decoration: none
}

.app-page__contacts-link img {
    width: 120px
}

.app-page__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 255, .3);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3)
}

.app-page__footer-container {
    width: 1140px;
    height: 100%;
    margin: 0 auto
}

.app-page__footer-logo img {
    width: 100px
}

.app-page__footer-year {
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 20px;
    color: #f9f9f9
}

.auth-modal {
    display: flex;
    align-items: stretch;
    height: 100%
}

.auth-modal__close {
    padding: 30px 30px 10px 10px
}

.auth-modal__close button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer
}

.auth-modal__content {
    width: 50%;
    height: 450px;
    align-items: stretch;
    padding: 20px 10px;
    background-color: #f9f9f9
}

.auth-modal__image {
    position: relative;
    width: 50%;
    height: 100%;
    text-align: right
}

.auth-modal__image img {
    height: 100%;
    margin: 0 0 -4px
}

.auth-modal__image:after {
    content: "";
    z-index: 3;
    background-color: rgba(0, 0, 0, .4)
}

.auth-modal__tabs {
    border-bottom: 2px solid #302c80
}

.auth-modal__tab {
    padding: 0 20px 10px;
    font-size: 22px;
    color: #302c80
}

.auth-modal__tab:not(.active) {
    cursor: pointer;
    opacity: .5
}

.auth-modal__body {
    height: calc(100% - 36px)
}

.auth-modal__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding: 20px 0;
    height: 100%
}

.auth-modal__form-row {
    margin: 0 0 10px
}

.auth-modal__form-button {
    text-align: center;
    margin: auto 0
}

.app-cabinet {
    width: 100vw;
    height: 100vh;
    padding: 100px 0 0 55px;
    background-color: #e6f3f5;
    overflow: hidden
}

.app-cabinet__header {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 55px;
    width: calc(100% - 55px);
    height: 100px;
    border-bottom: 4px solid #17a8fd
}

.app-cabinet__header-greeting {
    font-size: 36px;
    line-height: 49px
}

.app-cabinet__header-description,
.app-cabinet__header-greeting {
    margin: 0 auto;
    font-family: Noto Sans;
    font-weight: 400;
    color: #0f0f0f
}

.app-cabinet__header-description {
    font-size: 32px;
    line-height: 44px
}

.app-cabinet__header-user {
    height: 100%;
    padding: 5px 0 0;
    margin: 0 0 0 14px
}

.app-cabinet__user-dropdown {
    position: absolute;
    display: none;
    top: 100%;
    right: 30px;
    width: 300px;
    height: 300%;
    z-index: 8;
    padding: 15px;
    border: 2px solid #3f3b97;
    border-radius: 10px 0 10px 10px;
    background-color: #fff
}

.app-cabinet__user-dropdown a {
    display: block;
    width: 150px;
    text-decoration: none;
}

.app-cabinet__user-dropdown.is-open {
    display: block
}

.app-cabinet__user-dropdown:after {
    content: "";
    position: absolute;
    top: -20px;
    right: -2px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    transform: skewY(-40deg);
    transform-origin: 100% 100%;
    border-top: 2px solid #3f3b97;
    border-right: 2px solid #3f3b97
}

.app-cabinet__main {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    padding: 30px 50px 30px 95px;
    overflow-x: hidden;
    overflow-y: auto
}

.app-drawer {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 55px;
    height: 100%;
    background: linear-gradient(45.15deg, #5535ff 2%, #3defff 98.25%);
    transition: width .3s ease-in-out
}

.app-drawer.is-open,
.app-drawer.is-open .app-drawer__inner {
    width: 208px
}

.app-drawer__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 55px;
    height: 100%;
    padding: 10px 0 0;
    overflow: hidden;
    transition: width .3s ease-in-out;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .4)
}

.app-drawer__head {
    position: relative;
    padding: 20px 0
}

.app-drawer__name {
    position: absolute;
    top: 20px;
    left: 55px;
    width: 153px;
    height: 100%;
    padding: 5px 10px;
    font-family: Noto Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .02em;
    color: #f9f9f9
}

.app-drawer__icon {
    width: 55px;
    text-align: center
}

.app-drawer__nav {
    padding: 20px 0 0;
    height: 100%;
}

.app-drawer__rout {
    display: block;
    position: relative;
    margin: 0 0 50px;
    cursor: pointer
}

.app-drawer__rout-icon {
    width: 55px;
    padding: 6px 0 0;
    text-align: center
}

.app-drawer__rout-name {
    position: absolute;
    top: 0;
    left: 55px;
    height: 100%;
    width: 153px;
    font-family: Noto Sans;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: #e6f3f5
}

.app-drawer__footer {
    position: absolute;
    bottom: 0;
    left: 0
}

.history__interaction {
    width: 80vw;
    width: 100%;
    height: 31px;
    padding: 0 18px;
    font-family: Raleway-Regular;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .03em;
    color: #0f0f0f;
    border: 1px solid #17a8fd;
    outline: none;
    border-radius: 10px;
    background-color: #e6f3f5;
}

.history__interaction thead {
    font-size: 20px;
    margin-bottom: 1rem;
}