<%- include("head.ejs") %>
<body>
    <%- include("header.ejs") %>
    <div class="app-page__banner-title dark"><h1>Chart on your interactions</h1></div>
    <img src=<%=imageC %> alt="chart">
    <%- include("scripts.ejs") %>
</body>
</html>