<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <link href="./js/about.09a205cd.js" rel="prefetch">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link href="/css/main.css" rel="preload" as="style">
    <link href="./js/app.b07bbe2d.js" rel="preload" as="script">
    <link href="./js/chunk-vendors.af9c4a34.js" rel="preload" as="script">
    <link href="/css/basic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/post.css">
    <title>Money keeper</title>
</head>