<div>
    <div
      class="app-drawer"
      :class="{ 'is-open' : isOpen }"
      @mouseenter="isOpen = true"
      @mouseleave="isOpen = false"
    >
      <div class="app-drawer__inner">
        <div class="app-drawer__head">
          <router-link class="app-drawer__icon" tag="div" to="/cabinet">
            <IconBussines />
          </router-link>
          <div class="app-drawer__name">
            Small business money keeper
          </div>
        </div>
        <div class="app-drawer__nav">
          <router-link class="app-drawer__rout" tag="div" to="/cabinet/charts">
            <div class="app-drawer__rout-icon">
              <IconCharts />
            </div>
            <div class="app-drawer__rout-name">
              Charts
            </div>
          </router-link>
          <router-link
            v-for="(item, i) in getDrawerRoutes"
            class="app-drawer__rout"
            :class="{ 'app-drawer__footer' : item.routName === 'Settings' }"
            :to="item.rout"
            tag="div"
            :key="'drwerrout' + i"
          >
            <div class="app-drawer__rout-icon">
              <component :is="item.icon" />
            </div>
            <div class="app-drawer__rout-name">{{ item.routName }}</div>
          </router-link>
        </div>
      </div>
    </div>
  </div>