<%- include("head.ejs") %>
<body>
    <%- include("header.ejs") %>
        <form action="" method="POST" id="makePost" class="form__make-post">
            <div class="auth-modal__form-row">
                <label for="work" class="app-input__label">Work</label>
                <input type="text" name="work" id="work" required  class="app-input">
            </div>
            <div class="auth-modal__form-row">
                <label for="cost" class="app-input__label">Cost</label>
                <input type="number" name="cost" id="cost" required  class="app-input">
            </div>
            <div class="auth-modal__form-row">
                <label for="contractor" class="app-input__label">Contractor</label>
                <input type="text" name="contractor" id="contractor" required class="app-input">
            </div>
            <div class="app-content__form-row">
                <label for="incomeType" class="app-input__label">Type of incomes</label>
                <select name="incomeType" id="incomeType" class="app-input">
                  <option value="quiz">Quiz</option>
                  <option value="e-commerce">E-commerce</option>
                  <option value="blogs">Blogs</option>
                  <option value="corporate">Corporate</option>
                  <option value="promo">Promo</option>
                </select>
            </div>
            <div class="auth-modal__form-row">
                <label for="income" class="app-input__label">Income?</label>
                <input type="checkbox" name="income" id="income" class="app-input">
            </div>
            <div class="auth-modal__form-row">
                <label for="regular" class="app-input__label">Regular</label>
                <input type="checkbox" name="regular" id="regular" class="app-input">
            </div>
            <div class="auth-modal__form-button">
                <button type="submit" id="makePostBTN" class="btn btn-primary">Save post</button>
            </div>
        </form>
    <%- include("scripts.ejs") %>
</body>
</html>