<h1>Posts</h1>

<form action="/post" method="POST">
    <div>
        <label for="number">Number</label>
        <input type="number" name="number" id="number">
    </div>
    <div>
        <label for="work">Work</label>
        <input type="text" name="work" id="work" required>
    </div>
    <div>
        <label for="cost">Cost</label>
        <input type="number" name="cost" id="cost" required>
    </div>
    <div>
        <label for="contractor">Contractor</label>
        <input type="text" name="contractor" id="contractor" required>
    </div>
    <div>
        <label for="regular">Regular</label>
        <input type="checkbox" name="regular" id="regular">
    </div>
    <button type="submit">Save</button>
</form>
<a href="/posts">Register</a>
<script>
//axios.defaults.withCredentials = true;
</script>