    </main>
</div>
<script src="/js/chunk-vendors.b42e68f4.js"></script>
<script src="/js/app.fbb79f54.js"></script>
<script src="js/chunk-vendors.af9c4a34.js"></script>
<script src="js/app.2d27127c.js"></script></body></html>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
<script src="js/index.js" type="module"></script>
