<h1>Hello</h1>
<p><%= name %></p>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log out</button>
</form>
<script>
    axios.defaults.withCredentials = true;
    </script>